#login-content {
  .q-field__prepend {
    width: 6rem;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
  .q-field__marginal {
    height: 3rem;
  }
  .q-field__control {
    height: 3rem;
  }

}
