#assignment-become-vip-content {

  .pay-content {
    .vip-card-week {
      background: linear-gradient(to bottom right, #f1fdf5 0%, #abd2ba 100%) 100% no-repeat;
      h6 {
        color: #7ba089;
      }
      h4 {
        color: #8db79d;
      }
    }
    .vip-card-month {
      background: linear-gradient(to bottom right, #f3dbd1 0%, #aa7a6b 100%) 100% no-repeat;
      h6 {
        color:#80382a;
      }
      h4 {
        color: #80382a;
      }
    }
    .vip-card-season {
      background: linear-gradient(to bottom right, #eaeef1 0%, #bcc5d0 100%) 100% no-repeat;
      h6 {
        color: #5c7797;
      }
      h4 {
        color: #5c7797;
      }
    }
    .vip-card-half-year {
      background: linear-gradient(to bottom right, #f6e5b9 0%, #f8cc67 100%) 100% no-repeat;
      h6 {
        color: #cb9e11;
      }
      h4 {
        color: #c69d17;
      }
    }
    .vip-card-three-season {
      background: linear-gradient(to bottom right,#f6e5b9 0%, #eaa76d 100%) 100% no-repeat;
      h6 {
        color: #f18c36;
      }
      h4 {
        color: #fa8b2d;
      }
    }
    .vip-card-year {
      background: linear-gradient(to bottom right, #5d5d5d 0%, #131313 100%) 100% no-repeat;
      h6 {
        color: #eebb76;
      }
      h4 {
        color: #eebb76;
      }
    }
  }

}
