.van-cell {
  padding: .5rem .8rem;
}

.van-cell__left-icon, .van-cell__right-icon {
  min-width: 1.4rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
}

.van-collapse-item__content {
  padding: .6rem .8rem;
}

.q-radio__inner {
  font-size: 2rem;
}
