#customer-form-content {

  .van-cell.van-cell--clickable.van-cell--required.van-field{
    padding: .4rem 0 .4rem 0;
    input {
      font-size: 1rem;
    }
  }

  .van-cell--required::before {
    display: none;
  }

  .van-cell::after {
    border-bottom: none;
  }

  .q-field--with-bottom {
    padding-bottom: 0;
  }

  .q-gutter-sm {
    margin-top: 0;
    margin-left: -.4rem;
  }

  .q-radio {
    margin-right: 1.6rem;
    margin-left: 0;
    margin-top: 0;
  }
  .q-radio__inner {
    width: 2.4rem;
    height: 2.4rem;
    min-width: 0;
  }
  .q-radio__label {
    font-size: 1.1rem;
    color: #373737;
  }

  .customer-info1-line {
    .q-field__marginal {
      height: 3rem;
    }
    input {
      text-align: right;
      font-size: 1.2rem;
      color: #FFAD2A;
      font-weight: 600;
    }
    input::-webkit-input-placeholder {
      color: #aaa;
      font-size: 1rem;
      text-align: right;
      line-height: 2rem;
    }
  }
  .q-field--standard .q-field__control:before {
    border: none;
  }

  .form-item {
    input {
      text-align: right;
      font-size: 1.1rem;
      color:#59585E;
      font-weight: 600;
    }
    input::-webkit-input-placeholder {
      color: #D1D1D7;
      font-size: .9rem;
      text-align: right;
    }
  }
  .province-city {
    .van-field__body {
      input::-webkit-input-placeholder {
        color: #D1D1D7;
        font-size: .8rem;
        text-align: right;
      }
    }
  }
}
