.q-card {
  border-radius: 0.6rem!important;
  .q-card__section--vert {
    min-width: 60vw;
    padding: 1rem;
  }
  .q-pt-none {
    line-height: 1.8;
    font-size: 0.9rem;
  }
  .q-card__actions {
    padding: 0.8rem;
    .q-btn__wrapper {
      min-height: 2.3rem;
    }
    button {
      font-size: 1rem!important;
    }
  }
}
